body{
     margin: 0;
     padding: 0;
     line-height: 0;

 }

.container{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: solid black 1px;
}

.letterbox{
    height: 25px;
    width: 50px;
    border: solid black 1px;
    display: inline-block;
    margin: 3px;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 25px;
}

.checkbutton{
    position: absolute;
    top: 110px;
    left: 520px;
}

.lettercontainer{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-gap: 7px;
    margin-top: 150px;
    margin-left: 335px;
    width: 290px;
    height: 300px;
}

#title{
    position: absolute;
    float: left;
    top: 20px;
    left: 450px;
    font-size: 40px;
}

#playerinput{
    position: absolute;
    left: 360px;
    top: 110px;
}